<h2>Common : {{common}}</h2>
<h2>Official : {{official}}</h2>
<hr>
<form action="/pp" method="post">
  <h2 style="color:#6D8896">Persian</h2>

  <h4>translation</h4>
  <h4>{{translateFarsi}}</h4>
  <h4>{{translateFarsi1}}</h4>

  <h2>Common: <input name="prCommon"></h2>
  <h2>Official: <input name="prOfficial"></h2>
  <button class="btn btn-info center-block btn-lg">Send</button><br>

  <hr>
  <h2 style="color:#6D8896">Arabic</h2>

    <h4>translation</h4>
    <h4 id="tarb" value={{translateArabic}}>{{translateArabic}}</h4>
    <h2>Common: <input name="arCommon" value={{arabicCommon}}></h2>
    <h2>Official: <input name="arOfficial" value="{{arabicOfficial}}"></h2>
</form>
